body{
	background: #F0F8FF;
	font-family: 'Kanit', sans-serif;/*googlefonts*/
}
.main-title{
	color: #FF8C00 !important;
	font-size: 26px;
}

/* Footer */
footer{
	background: #222;
	text-align: center;
}

footer p{
	text-align: justify;
}

ul.redes li{
	display: inline-block;
}

ul.redes li a{
	color: orange;
}

.avatar{
	border: 5px solid orange;
	border-radius: 50%;
	float: left;
	height: 100px;
	width: 100px;
}
/* Catalogo */
#products {
position: relative;
max-width: 100%;
width: 100%;
}
img {
width: 100%;
max-width: 100%;
height: auto;
}
.white-panel {
position: absolute;
background: white;
box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
padding: 10px;
}
.white-panel h1 {
font-size: 1em;
}
.white-panel h1 a {
color: #A92733;
}
.white-panel:hover {
box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
margin-top: -5px;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}

/* detalle del producto show.blade*/
.product-block{
	background: white;
	border-radius: 1em;
	padding: 1em;

}
/* carrito de compras */
.table-cart{
	background: #fff;
	border-radius: 1em;
	margin-bottom: 30px;
	padding: 1em;

}
.table-cart img{
	width: 50px;
}

/* footer */
.w3ls-search .price input[type="text"] {
    padding: .4em 0.4em .4em 2.8em;
}
.w3ls-search .login-form input[type="text"]:focus ,.w3ls-search .login-form input[type="number"]:focus{
    border-color: #1e9c95;
    outline: none;
}
.w3ls-search select {
    color: #999!important;
    font-size: 1em;
    padding: 7px 33px 7px 10px;
    outline: none;
    border: 1px solid #999;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    outline: none;
    background: transparent;
	margin-bottom: 0.8em;
}
.w3ls-search select.form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #1e9c95;
}
/*-- //welcome --*/
/*-- properties --*/
.w3agile,.services,.about{
    padding: 3.5em 2em;
	background:#fff;
}
/*-- footer --*/
.w3agile.footer {
    background: #383838;
	text-align: center;
}
/*-- social-icons --*/
.social-icons ul{
	display:inline-block;
	padding: 0;
}
.social-icons ul li {
    position: inherit;
    display: inline-block;
    width: inherit;
}
.social-icons ul li:nth-child(2) {
    margin: 0 .5em;
}
.social-icons ul li:nth-child(3) {
    margin-right: .5em;
}
.social-icons ul li a {
    background: url(../images/social-icons.png)#55acee no-repeat 4px 3px;
    display: block;
    height: 35px;
    width: 35px; 
    -webkit-transition: .5s all;
    transition: .5s all;
    -moz-transition: .5s all;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.social-icons ul li a:hover {
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
    transform: translateY(-10px); 
}
.social-icons ul li a.fb {
    background-position: 3px -32px;
	background-color:#3b5998;
}
.social-icons ul li a.gp {
    background-position: 5px -67px;
	background-color:#dc4e41;
}
.social-icons ul li a.drb {
    background-position: 3px -102px;
	background-color:#ea4c89;
}
/*--//social-icons--*/
.footer-nav {
    padding: 1em 0;
    margin: 1em 0;
    border-top: 1px dashed #ffe4c4;
    border-bottom: 1px dashed #ffe4c4;
}
.footer-nav ul li {
    display: inline-block;
    font-size: 1em;
    margin-left: 2em;
}
.footer-nav ul li:nth-child(1) {
    margin: 0;
}
.footer-nav ul li a {
    color: #fff;
    font-weight: 300;
}
.footer-nav ul li a:hover {
    color: #27d2c8;
}
.footer-text p {
    color: #fff;
    text-align: center;
    font-weight: 300;
}
.footer-text p a{
    color: #27d2c8;
}
.footer-text p a:hover{
    color: #fff;
}
/*-- //footer --*/